/* Student: Helen Carey  helencarey@nyu.edu */


/* =====================================================================
    GLOBAL SYLES 
 ===================================================================== */
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent; 
}

.bold {
    font-weight: 600;
}

.blue {
   color: #53C8E9; 
}


.highlight {
    font-weight: 600;
    color: #0FABC1; /* teal */
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* ELEMENTS
-------------------------------- */

h3 {
    margin-bottom: 0.5em;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: #4d4d4d; /* text gray */
}

hr {
    margin: 15px 0;
}

button {  /*#hc*/
    padding: 0;
}


/* =====================================================================
    DOCUMENT LAYOUT
 ===================================================================== */

html {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

body {
    position: absolute;
    overflow: hidden;     
    top: 20px;
    left: 0px;
    height: 748px;
    min-height: 748px;
    max-height: 748px;
    width: 1024px;
    min-width: 1024px;
    max-width: 1024px;
    margin: 0;
    padding: 0;

    -webkit-user-select: none; /* this disables text selection */
    border: 0px solid blue;
}


#container {
    position: absolute;
    height: 748px;
    width: 1024px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 4px;
    color: #4d4d4d;
    font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 400;
    border: 0px solid yellow;
}

#mainContent {
    position: relative;
    width: 1024px;
    height: 748px;
    border: 0px solid green;
}

iframe {
    position: absolute;
    width: 1024px;
    height: 641px;
    border: 0;
    border-left: 4px solid #53C8E9;
    border: 0px solid orange; 
}

    iframe:focus { 
        outline: none;
    }

    iframe[seamless] { 
        display: block;
    }


/* These are is a vertical spacers that may be used like a grid row for #pageHeader, #textbox, & #bottomDiv */
.row {  
    position: relative;
    height: 106.85px;  /*14.28%;*/
    width: 100%;
    padding-left: 170px; /*17.23%; or displayWidth-leftNav */
    padding-right: 70px;
    border-bottom: 0px solid red;
}

    .rowHalf {  
        position: relative;
        height: 53px;  
        width: 100%; 
        padding-left: 170px; 
        padding-right: 70px;
        border: 0px solid #F0F9FC;
    }


/* =====================================================================
    CONTENT DIVS: pageHeader
 ===================================================================== */

#pageHeader {
    background-color: #C5F3FF; /* lightBlue */
    /*width: 1024px;  /* Col_12 - Col_2*/
    padding-top: 15px;
    padding-left: 170px;
    border: 0px solid green;
}

    div#pageHeader h1 {
        position: relative;
        float: left;
        display: block;
        width: 588px; /*Col9-Col3*/ 
        font-size: 3.5em;
        letter-spacing: 2px;
        color: #53C8E9;
        border: 0px solid red; 
    }

     #name{
        position: relative;
        display: inline-block;
        float: right;
        margin-top: 10px;
        padding: 0.6em;
        font-family: 'Quicksand','Helvetica Neue', sans-serif;
        font-size: 1.35em;
        font-weight: 900;
        text-align: center;
        max-width: 196px;
        min-width: 98px;
        color: #fff;
        background-color: #53C8E9;
        box-shadow: inset 2px 2px 2px rgba(77, 77, 77, 0.25);
     }



/* =====================================================================
    CONTENT DIVS: textbox & midBlock
 ===================================================================== */

#textbox {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #4d4d4d; /* text gray */
    font-size: 1.25em;
    font-weight: 400;
    font-family: 'Quicksand','Helvetica Neue', sans-serif;
    text-align: left;
    /*border: 0px solid pink;*/
}

#midBlock {
    position: relative;
    height: 500px;  /*14.28%;*/
    width: 784px; /*100%*/
    margin-left: 170px; /*17.23%; or displayWidth-leftNav */
    margin-right: 70px;
    background-color: #fff;
    font-size: 1.5em;
    border: 0px solid #d1f3ff;
}
    #midBlock ul {
        list-style-type: circle;
        list-style-position: inside;
        font-size
    }
            #midBlock ul li {
                margin: 5px 15px;
            }



/* =====================================================================
    CONTENT DIVS: lpcBlock
        Styles for the LPC BLOCK are currently located in 02_LPC.css
 ===================================================================== */


/* =====================================================================
    CONTENT DIVS: bottomDiv
 ===================================================================== */

#bottomDiv {
    position: absolute;
    left: 0;
    overflow: hidden;
    border: 0px solid pink;
    border-bottom: 0;
}

/* =====================================================================
    WEB VIEW CLASSES
 ===================================================================== */

.webBody {
    background-color: #000;
    margin-left: 30px;

}

.webContainer {
    background-color: #fff !important;
}


