/* Student: Helen Carey  helencarey@nyu.edu */

/* @import "00_base.css";  */


/*=====================================================================
    NAVBAR LEFT
 ===================================================================== */

nav#left {
    position: absolute;
    width: 110px;
    max-height:748px;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    z-index: 8;
    /*border: 1px solid yellow; */
}

ul {list-style-type: none;}

nav ul li {
    position: relative;
    float:left;
    min-height: 106.85px; /*height: 14.24%;*/
    width: 100px;
    border-radius: 4px;
    background-color: #53C8E9;
    border-top: 2px solid #fff;
    text-align: center;
    overflow: hidden;
    padding-top: 10%;
    padding-bottom: 5%;
    color: #fff;
    box-shadow: 1px 0px 2px #d3d3d3;
    z-index: 20;

    transition: width 0.5s ease-in-out;

    /*border: 1px solid yellow; */
}

nav ul li:first-child { 
    margin-top:0px;
    border-top: 0px;
}

li > p {
    position:relative;
    top: 3px;
    font-weight: 900;
    font-size: 90%;
    font-family: 'Quicksand','Helvetica Neue', sans-serif;
    color: inherit;
    /*border: 1px solid red;*/
}

li > object, svg {
    position:relative;
    max-height: 65px;
    fill: #fff;
    stroke: #53C8E9; /* main blue */
    stroke-width: 1px;

    
}

/*=====================================================================
    NAV SELECTION CASES
 ===================================================================== */


  /* ALL 
  ---------------------------------------------------------------------- */
    /* used for Btn bg */ 
        .active {
            color: #53C8E9; /* main blue */
            background-color: #F0F9FC;
            box-shadow: 2px 1px 2px #d1d1d1;
            z-index: 25;
            width: 108px;
        }


    /* used for Tutorial, Resources, */
        .activeSVG {
            fill:#53C8E9; /* main blue */
            stroke: #F0F9FC; /* white-blue */
            z-index: 26;
        }



  /* PROFILES 
  ---------------------------------------------------------------------- */
      /* Applied the Profiles SVG>g  only */
          .proWhite {
              fill: #fff;
              stroke: #fff;
              z-index: 26;
          }

      /* Applied the Profiles SVG>g  only */
          .proBlue {
              fill: #53C8E9; /* main blue */
              stroke: #53C8E9; /* main blue */
              z-index: 26;
          }


  /* TUTORIAL 
  ---------------------------------------------------------------------- */  
      /* Applied the 2nd TUTORIAL SVG>path only */
          .tutON{
              fill: #F0F9FC; /* white-blue */
              stroke: #53C8E9; /* main blue */
              z-index: 26;
          }

      /* Applied TUTORIAL SVG>path 'back' only */
          .tutOFF {
              fill: #53C8E9; /* main blue */
              stroke: #fff;
          }


  /* AUTO 
  ---------------------------------------------------------------------- */
      /* OFF STATE:*/
          li#autoNav> svg > ellipse {
              fill: #FFFFFF;
              stroke: #53C8E9;
              stroke-width: 2;
          }

          li#autoNav> svg > path {
              fill: #53C8E9;
              stroke: #53C8E9;
              stroke-width: 1;
          }

      /* ON STATE: Apply to SVG element only */
          li#autoNav> svg.autoON > ellipse {
              fill: #53C8E9;
              stroke: #FFFFFF;
              stroke-width: 2;
          }

          li#autoNav> svg.autoON > path {
              fill: #FFFFFF;
              stroke: #FFFFFF;
          }           


  /* FREE 
  ---------------------------------------------------------------------- */
      /* OFF STATE:*/
          li#freeNav> svg {
              fill: none;
              stroke:#fff;
              stroke-width: 2px;
          }

      /* ON STATE: */
          li#freeNav> svg.freeON {
              fill: none;
              stroke:#53C8E9;
              stroke-width: 2;
          }


  /* WORDS & SYLLABLES 
  ---------------------------------------------------------------------- */
      /* Applied to SVG>path of WORDS & SYLLABLES only */
          .bubs {
              stroke: #53C8E9; /* main blue */
              stroke-width: 3px;
          }




/*=====================================================================
    NAV ANIMATIONS
    -webkit vendor prefiixes ARE needed for mobile safari
 ===================================================================== */

  /* ALL 
  ---------------------------------------------------------------------- */
    .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

  /* PROFILES  (animation = '.tada')
  ---------------------------------------------------------------------- */
    .tada {
      -webkit-animation-name: tada;
      animation-name: tada;
    }

      @-webkit-keyframes tada {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }

        10%, 20% {
          -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
          transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        }

        30%, 50%, 70%, 90% {
          -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
          transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }

        40%, 60%, 80% {
          -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
          transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }

        100% {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      } 


      @keyframes tada {
        0% { -webkit-transform: scale3d(1, 1, 1); 
          transform: scale3d(1, 1, 1);
        }

        10%, 20% {
          -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
          transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        }

        30%, 50%, 70%, 90% {
          -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
          transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }

        40%, 60%, 80% {
          -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
          transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }

        100% {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }

  /* TUTORIAL  (animation = '.rotateIn')
  ---------------------------------------------------------------------- */
    .rotateIn {
      -webkit-animation-name: rotateIn;
      animation-name: rotateIn;
    }

      @-webkit-keyframes rotateIn {
        0% {
          -webkit-transform-origin: center;
          transform-origin: center;
          -webkit-transform: rotate3d(0, 0, 1, -180deg);
          transform: rotate3d(0, 0, 1, -180deg);
          opacity: 0;
        }

        100% {
          -webkit-transform-origin: center;
          transform-origin: center;
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

      @keyframes rotateIn {
        0% {
          -webkit-transform-origin: center;
          transform-origin: center;
          -webkit-transform: rotate3d(0, 0, 1, -180deg);
          transform: rotate3d(0, 0, 1, -180deg);
          opacity: 0;
        }

        100% {
          -webkit-transform-origin: center;
          transform-origin: center;
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }


  /* AUTO  (animation = '.flipInX')
  ---------------------------------------------------------------------- */
  .flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
  }

    @-webkit-keyframes flipInX {
      0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg); 
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
      }

      40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg); 
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg); 
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }

      60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
      }

      80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg) scale3d(1.1, 1.1, 1.1);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg) scale3d(1.1, 1.1, 1.1);
      }

      100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
      }
    }

   @keyframes flipInX {
      0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg); 
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
      }

      40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg); 
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg); 
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }

      60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
      }

      80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg) scale3d(1.1, 1.1, 1.1);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg) scale3d(1.1, 1.1, 1.1);
      }

      100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
      }
    }


  /* FREE  (animation = '.tada')
  ---------------------------------------------------------------------- */
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

    @-webkit-keyframes bounce {
      0%, 20%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }

      53%, 80%{
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transform: scale(1.00, 0.9);
        transform: scale(1.00, 0.9);
      }

      40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
      }

      70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -7px, 0);
        transform: translate3d(0, -7px, 0);
      }

      90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
      }
    }

    @keyframes bounce {
      0%, 20%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }

      53%, 80% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transform: scale(1.00, 0.9);
        transform: scale(1.00, 0.9);
      }

      40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
      }

      70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -7px, 0);
        transform: translate3d(0, -7px, 0);
      }

      90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
      }
    }


  /* SYLLABLES  (animation = '.bounceInSyll')
  ---------------------------------------------------------------------- */
.bounceInSyll {
  webkit-animation-name: bounceInSyll;
  animation-name: bounceInSyll;
}

  @-webkit-keyframes bounceInSyll {
    0%, 20%, 40%, 60%, 80%, 100% {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3) translate3d(-25px, 0px,0);
      transform:  scale3d(.3, .3, .3) translate3d(-25px, 0px,0);
    }

    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0,0);
      transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0,0);
    }

    40% {
      -webkit-transform: scale3d(.9, .9, .9);
      transform: scale3d(.9, .9, .9);
    }

    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.0, 1.0, 1.0);
      transform: scale3d(1.0, 1.0, 1.0);
    }

    80% {
      -webkit-transform: scale3d(.97, .97, .97);
      transform: scale3d(.97, .97, .97);
    }

    100% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes bounceInSyll {
    0%, 20%, 40%, 60%, 80%, 100% {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3) translate3d(-25px, 0px,0);
      transform:  scale3d(.3, .3, .3) translate3d(-25px, 0px,0);
    }

    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0,0);
      transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0,0);
    }

    40% {
      -webkit-transform: scale3d(.9, .9, .9);
      transform: scale3d(.9, .9, .9);
    }

    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.0, 1.0, 1.0);
      transform: scale3d(1.0, 1.0, 1.0);
    }

    80% {
      -webkit-transform: scale3d(.97, .97, .97);
      transform: scale3d(.97, .97, .97);
    }

    100% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }


  /* WORDS (animation = '.bounceInWord')
  ---------------------------------------------------------------------- */
.bounceInWord {
  webkit-animation-name: bounceInWord;
  animation-name: bounceInWord;
}

  @-webkit-keyframes bounceInWord {
    0%, 20%, 40%, 60%, 80%, 100% {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3) translate3d(25px, 0px,0);
      transform:  scale3d(.3, .3, .3) translate3d(25px, 0px,0);
    }

    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0,0);
      transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0,0);
    }

    40% {
      -webkit-transform: scale3d(.9, .9, .9);
      transform: scale3d(.9, .9, .9);
    }

    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.0, 1.0, 1.0);
      transform: scale3d(1.0, 1.0, 1.0);
    }

    80% {
      -webkit-transform: scale3d(.97, .97, .97);
      transform: scale3d(.97, .97, .97);
    }

    100% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes bounceInWord {
    0%, 20%, 40%, 60%, 80%, 100% {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3) translate3d(25px, 0px,0);
      transform:  scale3d(.3, .3, .3) translate3d(25px, 0px,0);
    }

    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0,0);
      transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0,0);
    }

    40% {
      -webkit-transform: scale3d(.9, .9, .9);
      transform: scale3d(.9, .9, .9);
    }

    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.0, 1.0, 1.0);
      transform: scale3d(1.0, 1.0, 1.0);
    }

    80% {
      -webkit-transform: scale3d(.97, .97, .97);
      transform: scale3d(.97, .97, .97);
    }

    100% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }



  /* RESOURCES  (animation = '.tada')
  ---------------------------------------------------------------------- */
  .flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
  }

  @-webkit-keyframes flipInY {
    0% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }

    40% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    60% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }

    80% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }

  @keyframes flipInY {
    0% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }

    40% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    60% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }

    80% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }


