/* Student: Helen Carey  helencarey@nyu.edu */


/* =====================================================================
    LPC BLOCK
 ===================================================================== */
#lpcBlock {
    position: relative;
    width: 784px; 
    height: 530px;
    left: 170px; 
    border-bottom: 2px solid white;
    background-color: transparent; 
    
    border: 0px solid red;
    display: block;
}

#lpcContainer {
    position: relative;
    width: 100%;
    height: auto;
    /*height:100%; /* #hc */
    margin: 0;
    padding:0;
    /*background-color: transparent;*/ /* #hc */
    border-radius: 4px;
    display: block;
    border: 15px solid #F0F9FC; /* white-blue *  /*#fff; */
    border-bottom: 25px solid #F0F9FC;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);   
}


/* LPC BUTTONS - BASE STYLE
 ===================================================================== */
    .lpc-btn {
        position: relative;   
        height: 65px;
        width: 80px;
        margin: 0px;
        padding: 5px; 
        font-size: 0.90em;
        font-family: 'Quicksand','Helvetica Neue', sans-serif;
        font-weight: 800;
        text-align: center;
        color: #fff;
        background-color: #53C8E9; /* main blue */
        box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
        z-index: 99;
        border: 0;
        display: block;
    }


/* LPC HEAD
 ===================================================================== */

    #lpcHead {
        position: relative;
        width:755px;
        height:80px;
        background-color: #F0F9FC; /* white-blue */
        z-index: 1;
        border: 0px solid pink; 
    }

        #lpcHead1 {  /* this hold the challenge item */
            position: relative;
            float:left;
            height: 100%;
            width: 350px;
            padding-top: 10px;
            border: 0px solid lightGreen;
        }

            .challengeItem {
                font-size: 3.3em;
                font-weight: 600;
                color: #4d4d4d;
                border: 0px solid lightBlue;
            }

        #lpcHead2 {
            position: relative;
            float: right;
            height: 100%;
            width: 200px;
            border: 0px solid yellow;
        }
        
            .head2-btn { 
                position: relative;
                float: right;
                top: 7px;
                margin-left: 10px;
                display: block;
                border: 0px solid orange;
            }


/* LPC CONTROLS
 ===================================================================== */

    #lpcCtrls {
        position: absolute;
        left: 670px;
        top: 80px;
        width: 85px;
        height: 423px;
        z-index: 10;
        background-color: #F0F9FC;
        border: 0px solid #d1f3ff; 
    }

        #lpcCtrls1 {  /* This is just the container for .prog-btn (see below) */
            height: 65px;
            border: 0px solid #FFD1DC;
        }


/* LPC PROGRESS BAR
 ===================================================================== */
    #prog {
        position: relative;
        height: 65px;
        width: 669px;
        background-color: #C5F3FF;
        border-radius: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
        padding-top: 0.5em;
        padding-left: 10px;
        z-index: 1;
        text-align: left;
        border: 0px solid red;
        border-bottom: 5px solid white;
    }

        #progTxt {
            float: left;
            padding-top: 0.33em;
            padding-left: 5px;
            color: #53C8E9;
            font-weight: 600;
            z-index: 1;
            border: 0px solid red;
        }

        #progressBar {
            border: 0px solid pink;
        }


            .prog-btn { /* #hc */
                float: right;
                border: 0px solid lightGreen;
            }

                
                .sessON {
                    background-color: #FFC95F;
                    color: white;
                }
                
                .sessOFF {
                    background-color: #FFC95F;                
                }


/* LPC WAVE
 ===================================================================== */
    #lpc {
        position: relative;
        width: 668px;
        height: 290px;
        background-color: transparent;
        /*background-color: #C5F3FF;*/
        z-index: 1;
        border-radius: 0px;
        border: 0px solid red;
    }

        #wave {
            width: 668px;
            height: 290px;
            background-color: transparent;
            /*background-color: #C5F3FF;  /* WEB */
            z-index: 2;
            border-radius: 0;
            border: 0px solid #C5F3FF;
        }

        canvas {
            /* height: width: will be over-written by p5 vals */
            border-radius: 0px;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
            border: 0px solid #C5F3FF;
        }

        #rateBox {
            position: relative;
            float: right;
            /*left: 667px;*/
            top: 0px;
            width: 80px;
            /* height: 291px; /* if #lpcCtrls1 is available, else: */
            height: 350px;
            padding-top: 5px;
            
            z-index: 10;
            border: 0px solid #FFD1DC;
        }


            .rate-btn {
                float: right;
                height: 75px;
                width: 75px;
                padding: 10px;
                border-radius: 75px;
                margin-top: 30px;
            }

                .rate-btn-select {
                    box-shadow: 0px 0px 0px #d3d3d3;
                    background-color: #018B9D; /* dark blue */
                }

/* SAND
 ===================================================================== */

    #sand {
        position: relative;
        display: block;
        width: 100%;
        height: 65px;
        border-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 0px solid blue;
    }

        #sand-slide {
            background-color: #FFECCB;
            width: 669px;
            height: 65px;
            float: left;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
            border: 0px solid red;
        }

        #target-btn { 
           height: 65px;
           background-color: #FFECCB;
           color: #e79b4c;
           float: right;
           border: 0px solid red;
        }


        .slider { /* STAR: this is the slide track for the star */
          border-radius: 25px;
          width: 608px;
          margin-top: 20px;
          margin-left: 2px;
          position: absolute;
          background: #FFECCB;
          z-index: 10;
          border: 0px solid purple;
        }

        #sliderLabel {
            display: block;
            /*visibility: hidden;*/
            width: 57px;
            height: 30px;
            background-color: #fff;
            background-color: transparent;
            padding-top: 5px;
            font-family: 'Quicksand','Helvetica Neue', sans-serif;
            text-align: center;
            font-weight: 700;
            margin-top: 30px;
            border: 0px solid red;
        }


        .handle .ui-slider-handle {  /*star handle */
          position: absolute;
          z-index: 10;
          cursor: pointer;
          -ms-touch-action: none;
          touch-action: none;

      }

        .star-handle {
            background: url("../_img/slider-star2.svg") no-repeat;
            height: 350px;
            width: 57px;
            top: -310px;
            border: 0px solid green;
        }

