/* Student: Helen Carey  helencarey@nyu.edu */


/*=====================================================================
    SECTION
 ===================================================================== */


/*=====================================================================
    PAGES
 ===================================================================== */
  /* ALL 
  ---------------------------------------------------------------------- */
  /* PROFILES 
  ---------------------------------------------------------------------- */
  /* TUTORIAL 
  ---------------------------------------------------------------------- */  
  /* AUTO 
  ---------------------------------------------------------------------- */
  /* FREE 
  ---------------------------------------------------------------------- */
  /* SYLLABLES 
  ---------------------------------------------------------------------- */
  /* WORDS
  ---------------------------------------------------------------------- */

/* RESOURCES
---------------------------------------------------------------------- */
#filterOutputBox{
  width: 100%;
  height: 65px;
  margin-top: 0px;
  border: 0px solid #CFCFC4;
}
#filterOutputBox>p{
  float: left;
  width: 695px;
  border: 0px solid orange;
}

#filterBox {
    width: 750px;
    height: auto;
    overflow: hidden;
    /*padding-right: 70px; */
    margin: 30px auto;
    border: 0px solid orange;
}


.filterLabel {
  display: inline-block;
  text-align: center; 
  font-size: 0.75em;
  height: 50px;
  width: 50px;
  border: 0px solid orange;
}

input[type=range].filter {
  -webkit-appearance: none;
  height: 25px;
  border-radius: 25px;
  background-color: #C5F3FF;
  box-shadow: inset 2px 2px 2px rgba(77, 77, 77, 0.25);
  width: 600px;
  margin: 15px;
  border: 0px solid orange;
}

input[type=range].filter::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #53C8E9;
  top: -8px;
  margin-right: 50px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  border: 0px solid green;
}

output {
  font-size: 1.5em;
  text-decoration: underline;
}

#lpcTester{
  height: 210px;
  width: 550px;
  margin: 30px auto;
  border: 1px solid green;

}


