@import "00_base.css";   
@import "02_LPC.css";   

/*
PALETTE
black/gray: #4d4d4d; /* text gray */
/* white: #ffffff;
/* whiteBlue: #F0F9FC; /* white-blue */
/* lightBlue: #C5F3FF; /* light blue */
/* mainBlue: #53C8E9; /* main blue */
/* teal: #0FABC1; /* teal */
/* darkBlue: #018B9D; /* dark blue */
/* yellow: #FFC95F; /* yellow */
/* light yellow: #FFECCB; /* light yellow */
/* tan: #F9CDA5; /* tan */

/*=====================================================================
    NAVBAR LEFT
 ===================================================================== */

nav#left {
    position: absolute;
    /*width: 10%;
    height: 100%;*/
    width: 100px;
    max-height:748px;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    z-index: 8;
    /*border: 1px solid yellow; */
}

ul {list-style-type: none;}

nav ul li {
    position: relative;
    min-height: 106.85px; /*height: 14.24%;*/
    border-radius: 4px;
    background-color: #53C8E9; /* main blue */
    border-top: 2px solid #fff;
    text-align: center;
    overflow: hidden;
    padding-top: 10%;
    padding-bottom: 5%;
    color: #fff;
    /*border: 1px solid yellow; */
}


nav ul li:first-child { 
    margin-top:0px;
    border-top: 0px;
}

li > svg {
    position:relative;
    /*height: 60%;*/
    max-height: 65px;
    /*border: 1px solid orange; */
}


li > p {
    position:relative;
    top: 3px;

    font-weight: bold;
    font-size: 90%;
    font-family: 'Quicksand','Helvetica Neue', sans-serif;
    color: inherit;
    /*border: 1px solid red;*/
}

.active {
    color: #53C8E9; /* main blue */
    background-color: #F0F9FC;    /* whiteBlue: #F0F9FC; /* white-blue */
    /* lightBlue: #C5F3FF; /* light blue 
    #ffffff; */
}

li.active>svg {
    fill: #53C8E9; /* main blue */;
}



