/* CSS developed for the START Biofeedback Project
 * Student: Helen Carey
 * NYU School of Engineering */

/* =====================================================================
    LPC BLOCK
 ===================================================================== */
#lpcBlock {
    position: relative;
    width: 784px; /*Col_11-Col_3*/
    height: 530px;
    left: 170px;  /*start at Col03 */ /**/
    border-bottom: 2px solid white;
    background-color: transparent; 
    border: 0px solid red;
}

#lpcContainer {
    position: relative;
    width:100%;
    height:100%;
    margin: 0;
    padding:0;
    background-color: transparent;
    border-radius: 4px;
    border: 15px solid  #F0F9FC; /* white-blue */ 
    border-right: 113px solid  #F0F9FC;
}

/* =====================================================================
    LPC HEAD
 ===================================================================== */

#lpcHead {
    position: relative;
    width:750px;
    height:80px;
    background-color: #F0F9FC; /* white-blue */
    z-index: 1;
    border: 0px solid pink; 
}


#lpcHead1 {
    position: relative;
    float:left;
    height: 100%;
    width: 350px;
    padding-top: 10px;
    border: 1px solid lightBlue;
}

.challengeItem {
    height: 100px;
    font-size: 3.3em; /* #hc */
    font-weight: 600;
    color: #4d4d4d;
    border: 1px solid lightBlue;
}

#lpcHead2 {
    position: relative;
    float: right;
    height: 100%;
    width: 182px;
    /* width: 90px; */
	border: 1px solid yellow;
}

    

/* =====================================================================
    LPC CONTROLS
 ===================================================================== */

#lpcCtrls {
    position: absolute;
    left: 665px;
    top: 80px;
    width: 85px;
    height: 423px;
    z-index: 10;
    border: 0px solid red;
}

    #lpcCtrls1 {
        height: 65px;
        border: 0px solid pink;
    }

    #lpcCtrls2 {
        height: 291px;
        border: 0px solid lightGrey;

    }

    #lpcCtrls3 {
        height: 65px;
        border: 0px solid pink;
    }


/* Control Buttons */
/*
.lpc-btn {
    position: relative;
    
    height: 70px;
    width: 70px;
    margin-left: 7px;
    margin-top: 25px;
    padding: 0.2em;
    
    font-size: 0.90em;
    font-family: 'Quicksand','Helvetica Neue', sans-serif;
    font-weight: 800;
    text-align: center;
    color: #fff;

    background-color: #53C8E9; 
    z-index: 99;
    box-shadow: 1px 1px 1px #d3d3d3;
    border: 0;
}

    /* Custom Styles */
        .sq-btn {
            position: relative;
            border-radius: 4px;
            height: 65px;
            width: 80px;
            margin: 0px;
            padding: 0px;
            float: none;
        }

        .rate-btn {
            border-radius: 50px;
        }
            .rate-btn-select {
                box-shadow: 0px 0px 0px #d3d3d3;
                background-color: #018B9D; /* dark blue */
            }

        #record {
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
        }

             .recON {
                    background-color: #e08626;
    		}

            .recOFF {
                background-color: #FFC95F;
            }
    
        #session { 
            position: absolute;
            top: 0;
            left: 100px;
        }
            .sessON {
                background-color: #53C8E9;
                color: white;
            }

            .sessOFF {
                background-color: #FFC95F;                
            }



     /* Clear F3 Target Btn */
        #clear{
           height: 65px;
           background-color: #FFECCB;
           color: #e79b4c;
        }

    /* Layout */
        #lpcCtrls2 button:first-child {
            margin-top: 0px;
        }

    /* Interaction */
            .rate-btn-select {
                box-shadow: 0px 0px 0px #d3d3d3;
                background-color: #018B9D; /* dark blue */
            }








/* =====================================================================
    LPC STATS
 ===================================================================== */

#stats{
    position: relative;
    height: 65px;
    width: 100%;
    /*background-color: transparent;*/
    background: #C5F3FF; /* #53C8E9;*/
    padding: 5px 10px;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: inset 2px 0px 2px rgba(77, 77, 77, 0.25);
    z-index: 1;
    border-bottom: 5px solid white;
    /*border-left: 15px solid #F0F9FC; /* white-blue */
    /*border-right: 15px solid #F0F9FC; /* white-blue */
    /*border: 1px solid blue;*/
}


/* display alignment for valF1-valF3 */
#stats>div {
    float: left;
    width: auto;
	height: auto;
    text-align: center;
    z-index: 1;
	padding-top: 0.33em;
    border: 0px solid white;
}


/* display for valF1-valF3 */
/*#stats>div>p>span {*/
#progressBar {
	padding-left: 5px;
    color: #53C8E9;
    font-weight: 600;
    z-index: 1;
    border: 0px solid pink;
}



/* =====================================================================
    LPC WAVE
 ===================================================================== */
#lpc {
    position: relative;
    width: 100%;
    height: 291px;
    background-color: transparent;
    /*background-color: #C5F3FF;*/
    z-index: 2;
    border-radius: 0px;
    /*box-shadow: inset 2px 2px 2px rgba(77, 77, 77, 0.25);*/
    border: 0px solid red;
}


#wave {
    width: 100%;
    height: 290px;
    background-color: transparent;
    /*background-color: #C5F3FF;  /* WEB */
    z-index: 2;
    border-radius: 0;
    border: 0px solid green;
}

canvas {
    height: 292px;
    width: 658px; /*width: 100%;*/
    border-radius: 0px;
    /*border: 1px solid red;*/
}


/* =====================================================================
    LPC WAVE
 ===================================================================== */

#sand {
    position: relative;
    display: inline-block;
    width: 100%; /*width: 100%;*/
    height: 65px; /*62*/
    background-color: #FFECCB; /* light yellow */
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    float: left;
    /*box-shadow: inset 2px 0px 2px rgba(77, 77, 77, 0.25);*/
    border: 0px solid blue;
}


.slider {
  border-radius: 25px;
  width: 598px;
  margin-top: 20px;
  margin-left: 1px;
  position: absolute;
  background: #FFECCB; /* light yellow */
  z-index: 10;
  border: 0px solid purple;
}

#sliderLabel {
    display: block;
    width: 57px;
    height: 30px;
    background-color: #fff;
	background-color: transparent;
    padding-top: 5px;
    font-family: 'Quicksand','Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    border: 0px solid red;
}

.handle .ui-slider-handle {
  position: absolute;
  z-index: 10;
  width: 57px;

  cursor: pointer;
  background: url("../_img/slider-star2.svg") no-repeat;
  height: 350px;
  top: -310px;
  border: 0px solid green;
}