/* CSS developed for the START Biofeedback Project
 * Student: Helen Carey
 * NYU School of Engineering */

/* =====================================================================
    LPC BLOCK
 ===================================================================== */
#lpcBlock {
    position: relative;
    width: 784px; 
    height: 530px;
    left: 170px; 
    border-bottom: 2px solid white;
    background-color: transparent; 
    
    border: 0px solid red;
    display: none;
}

#lpcContainer {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding:0;
    background-color: transparent;
    border-radius: 4px;
    /*display: block;*/
    border: 15px solid #fff; /*#F0F9FC; /* white-blue */ 
}

/* LPC BUTTONS - BASE STYLE
 ===================================================================== */
    .lpc-btn {
        position: relative;   
        height: 60px;
        width: 80px;
        margin: 0px;
        padding: 5px; 
        font-size: 0.90em;
        font-family: 'Quicksand','Helvetica Neue', sans-serif;
        font-weight: 800;
        text-align: center;
        color: #fff;
        background-color: #53C8E9; /* main blue */
        box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
        z-index: 99;
        border: 0;
        display: none;
    }

/* LPC HEAD
 ===================================================================== */

    #lpcHead {
        position: relative;
        width: 100%; /*750px;*/
        height:80px;
        background-color: white;/*#F0F9FC; /* white-blue */
        z-index: 1;
        border: 0px solid pink; 
    }

        #lpcHead1 {
            position: relative;
            float:left;
            height: 100%;
            width: 350px;
            padding-top: 10px;
            border: 0px solid lightBlue;
        }

            .challengeItem {
                font-size: 2.75em;
                font-weight: 600;
                color: #4d4d4d;
            }

        #lpcHead2 {
            position: relative;
            float: right;
            height: 100%;
            width: 90px;
        	border: 0px solid lightBlue;
        }
            #head2-btn { 
                visibility: hidden;
                position: relative;
                float: right;
                top: 17px;
                display: none;
            }

/* LPC PROGRESS BAR
 ===================================================================== */

    #prog {
        position: relative;
        height: 65px;
        width: 100%;
        background-color: transparent;
        border-radius: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        z-index: 1;
        border: 0px solid red;
        border-bottom: 5px solid white;
    }

        #prog>p {
            float: left;
            width: 665px;
        	height: 100%;
            background: #C5F3FF;
            text-align: left;
            z-index: 1;
        	padding-top: 0.33em;
            padding-left: 10px;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
            border: 0px solid red;
        }

        #progressBar {
        	padding-left: 5px;
            color: #53C8E9;
            font-weight: 600;
            z-index: 1;
            border: 0px solid pink;
        }

            .prog-btn { /* #hc */
            /*  display: none; */
                float: right;
                border: 0px solid blue;
            }

                .sessON {
                    background-color: #FFC95F;
                    color: white;
                }
                /*
                .sessOFF {
                    background-color: #FFC95F;                
                } */


/* LPC WAVE
 ===================================================================== */
    #lpc {
        position: relative;
        /*width: 100%;*/
        height: 291px;
        background-color: transparent;
        /*background-color: #C5F3FF;*/
        z-index: 1;
        border-radius: 0px;
        border: 0px solid red;
    }

        #wave {
            width: 665px;
            height: 285px;
            background-color: transparent;
            /*background-color: #C5F3FF;  /* WEB */
            z-index: 1;
            border-radius: 0;
            border: 1px solid #C5F3FF;
        }

        canvas {
            /* height: width: will be over-written by p5 vals */
            border-radius: 4px;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
            border: 0px solid #C5F3FF;
        }

        #rateBox {
            position: relative;
            float: right;
            /*left: 667px;*/
            top: 0px;
            width: 80px;
            height: 290px;
            padding-top: 0px;
            
            z-index: 10;
            border: 0px solid #C5F3FF;
        }

            .rate-btn{
                float: right;
                height: 80px;
                padding: 10px;
                border-radius: 80px;
                margin-top: 12px;
            }

                .rate-btn-select {
                    box-shadow: 0px 0px 0px #d3d3d3;
                    background-color: #018B9D; /* dark blue */
                }

/* SAND
 ===================================================================== */

    #sand {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 65px;
        border-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 0px solid blue;
    }

        #sand-slide{
            background-color: #FFECCB;
            width: 665px;
            height: 65px;
            float: left;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
            border: 0px solid red;
        }

        #target-btn { 
           height: 65px;
           background-color: #FFECCB;
           color: #e79b4c;
           float: right;
           border: 0px solid red;
        }


        .slider {
          border-radius: 25px;
          width: 608px;
          margin-top: 20px;
          margin-left: 2px;
          position: absolute;
          background: #FFECCB;
          z-index: 10;
          border: 0px solid purple;
        }

/* ----- */
        
        #targetManual {
            width: 700px;
            padding-right: 70px;  
            overflow: hidden;
        }



        #targetSlider{
            margin-top: 30px;
            height: 25px;
            border-radius: 25px;
            background-color: #C5F3FF;
            box-shadow: inset 2px 2px 2px rgba(77, 77, 77, 0.25);
            width: 780px;
            padding-right: 25px;

            border: 0px solid orange;
        }

        .slider-settings {
            border-radius: 25px;
            /*margin-top: 20px;*/
            margin-left: 2px;
            position: absolute;
            z-index: 10;
            /*width: 700px;
            width: 700px;
            margin-right: 10px; */
            height: 15px;
            background-color: #C5F3FF;
            border: 0px solid orange;
        }


        #sliderLabel {
            display: block;
            /*visibility: hidden;*/
            width: 57px;
            height: 30px;
            background-color: #fff;
        	background-color: transparent;
            padding-top: 5px;
            font-family: 'Quicksand','Helvetica Neue', sans-serif;
            text-align: center;
            font-weight: 700;
            margin-top: 30px;
            border: 0px solid red;
        }


        .handle .ui-slider-handle {  /*star handle */
          position: absolute;
          z-index: 10;
          cursor: pointer;
          -ms-touch-action: none;
          touch-action: none;

      }

        .star-handle {
            background: url("../_img/slider-star2.svg") no-repeat;
            height: 350px;
            width: 57px;
            top: -310px;
            /*border: 1px solid green;*/
        }

        .handle-settings {
            margin-top: 0px;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background-color: #53C8E9;
            top: -8px;
            margin-right: 50px;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
            /*border: 0px solid green;*/
        }


/*
            position: absolute;
            z-index: 2;
            /*width: 1.2em;
            height: 1.2em;*
            cursor: default;
            -ms-touch-action: none;
            touch-action: none;

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;

}*/


